/* General body styling */
* {
  background-color: #000000;
  color: #fafafa;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* Containers styling for flexbox and sizing */
#container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#header-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1.75px #4a4a4a solid;
}

#tile-container {
  position: relative;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px;
}

/* Styling for each row of tiles (mainly flexbox) */
#tile-container div {
  display: flex;
  flex-direction: row;
  border: 0px;
}

/* Styling for each tile */
#tile-container div div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 2px solid rgba(60, 60 ,60, 0.6);
  margin: 2px;
  min-width: 62.5px;
  min-height: 62.5px;
}

/* Styling to change tile border colour when selected */
#tile-container .on-row {
  border: 2px solid rgba(83, 83, 91, 0.75);
}

/* Styling to shake current row of divs when answer is not valid */
@keyframes shake {
  0% { transform: translate(1px) }
  10% { transform: translate(-1px) }
  20% { transform: translate(-3px) }
  30% { transform: translate(3px) }
  40% { transform: translate(1px) }
  50% { transform: translate(-1px) }
  60% { transform: translate(-3px) }
  70% { transform: translate(3px) }
  80% { transform: translate(-1px) }
  90% { transform: translate(1px) }
  100% { transform: translate(1px) }
}

.shake {
  animation: shake 0.5s;
}


/* Keyboard Styling */
#keyboard-container {
  height: 170px;
  width: 450px;
}

#keyboard-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 5px 0px;
  height: 33%;
}

#keyboard-container div button {
  color: #fafafa;
  flex: 1;
  border-radius: 5px;
  border: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

/* Adding margin to second row of keyboard to account for space on each side */
#A {
  margin-left: 22px !important;
}

#L {
  margin-right: 22px !important;
}

/* Increasing size of 'Enter' and 'Back' keys on keyboard */
#ENTER,
#BACK {
  flex: 1.5 !important;
}

/* Colouring tiles & keys */
.green-color {
  background-color: #588c4c;
  border: 0px !important;
}

.yellow-color {
  background-color: #b89c3c;
  border: 0px !important;
}

.darkgrey-color {
  background-color: #403c3c;
  border: 0px !important;
}

.lightgrey-color {
  background-color: #888484;
}


/* Make tiles flip */
.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}



/* Style for pop-up message */

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30vw;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  opacity: 0.0;
  position: absolute;
  top: 15px;
}

.popup-hide {
  opacity: 1.0 !important;
}

#popup p {
  background: rgba(255, 255, 255, .0);
  color: #000000;
}
